

.search_section {
  display: flex;
  align-items: center; 
  gap: 10px;
  padding: 25px;
}

.search_section .search_form {
  height: 54px;
  width: 100%;
  position: relative;
}

.search_section .search_form span {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  font-size: 24px;
  pointer-events: none;
}

.search_section .search_input {
  width: 100%;
  height: 100%;
  outline: none; 
  color: #fff;
  font-size: 1rem;
  border-radius: 10px;
  padding: 0 20px 0 50px;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.25);
  transition: 0.1s ease; 
}

.search_section .search_input:focus {
  border-color: #a38cd9;
}

.search_section .search_input::placeholder {
  color: #ddd;
  text-transform: none;
}

.search_section .location_button {
  height: 54px; 
  width: 56px;
  display: flex; 
  align-items: center; 
  justify-content: center;
  flex-shrink: 0; 
  color: #fff;
  cursor: pointer;
  border-radius: 6px; 
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.25);
  transition: 0.2s ease; 
}

.search_section .location_button:hover {
  color: #b39fdf;
  border-color: #a38cd9;
}

.search_section .suggestions_list {
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  max-height: 150px;
  overflow-y: auto;
  margin: 0;
  padding: 5px 0;
  list-style: none;
  color: #fff;
  z-index: 100;
}

.search_section .suggestions_list li {
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.search_section .suggestions_list li:hover {
  background-color: rgba(163, 140, 217, 0.4);
}
